# Public DNS domain (base)
BASE_DOMAIN="..."

# Tailscale Auth Key (to join the network)
TS_AUTHKEY="..."

# Optional: Tailscale private subdomain (base)
TS_DOMAIN="..."

# API token to obtain TLS certificates via DNS challenge
CLOUDFLARE_API_TOKEN="..."
