# Public DNS domain (my-domain.net)
BASE_DOMAIN=...

# Tailscale Auth Key (to join the network)
TS_AUTHKEY=...

# Optional: Your Tailscale subdomain (your-subdomain.ts.net)
TS_DOMAIN=...

# API token to obtain TLS certificates via DNS challenge
CLOUDFLARE_API_TOKEN=...
